# Node
node_modules/
.next/
.npm

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Database
*.db
*.sqlite3

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
build/
dist/

# Editor
.vscode/
.idea/

# Logs
logs/
*.log
npm-debug.log*

# Misc
.DS_Store
